* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 60%;
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: teal;
}

.container {
  margin-top: 50px;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
  color: black;
}

.hero-left h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.hero-left h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.hero-left h3 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.hero-buttons button:nth-child(1) {
  background-color: coral;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-buttons button:nth-child(1):hover {
  background-color: rgb(215, 79, 0);
}

.hero-buttons button:nth-child(2) {
  background: transparent;
  padding: 10px 20px;
  color: black;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-buttons button:hover {
  background-color: rgb(16, 194, 16);
  color: white;
}

.hero-left h4 {
  margin-top: 30px;
  font-size: 1.1rem;
  color: rgb(88, 88, 88);
}

.hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 20px 0;
  }

  .container {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 20px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    height: auto;
  }

  .hero-left h1 {
    font-size: 2rem;
  }

  .hero-left h2 {
    font-size: 1.5rem;
  }

  .hero-left h3 {
    font-size: 1.2rem;
  }
}

.second-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E8F4F8;
}

.second-heading {
  margin-top: 20px;
  font-size: 1.9rem;
  color: darkslategray;
  text-align: center;
  margin-bottom: 30px;
}

.second-container {
  width: 80%;
  height: 60%;
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.286);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 40px;
  margin-top: 20px;
}

.second-cards {
  background: linear-gradient(to bottom right, teal, rgb(0, 62, 62));
  border-radius: 10px;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.second-cards:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.303);
}

.second-cards h1 {
  text-align: left;
  font-size: 1.4rem;
  color: white;
  margin-bottom: 20px;
}

.second-cards p {
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 20px;
}

.second-cards span {
  /* display: block; */
  margin: 10px;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .second-section {
    height: auto;
    padding: 20px 0;
  }

  .second-heading {
    font-size: 1.5rem;
    margin: 20px 10px;
  }

  .second-container {
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px 20px;
    width: 90%;
  }

  .second-cards span {
    font-size: 1rem;
  }

  .second-cards h1 {
    font-size: 1.2rem;
  }

  .second-cards p {
    font-size: 0.9rem;
  }
}

.third-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
}

.third-heading {
  margin-top: 20px;
  font-size: 2rem;
  color: #134E4A;
  text-align: center;
  margin-bottom: 10px;
}

.third-container {
  width: 90%;
  height: 80%;
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.286);
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  margin-top: 10px;
}

.third-left {
  width: 40%;
  height: 100%;
  background-color: lightgray;
  border-radius: 10px;
}

.third-left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.third-right {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  text-align: center;
  padding-right: 0;
}

.third-right h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.third-right p:nth-child(2),
.third-right p:nth-child(3) {
  font-size: 1.1rem;
  line-height: 2rem;
  width: 70%;
  align-self: center;
}

.third-cards {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 5px;
  margin-top: 20px;
  align-items: center;
  /* background-color: blue; */
  width: 100%;
  height: 150px;
  margin-right: 0;
}

.third-card {
  padding: 10px;
  background: linear-gradient(to bottom right, teal, rgb(0, 62, 62));
  border-radius: 10px;
  width: 25%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.303);
}

.third-card p {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

.third-buttons {
  display: flex;
  gap: 20px;
  align-self: center;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.third-buttons button:first-child {
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  background: #134E4A;
}

.third-buttons button:nth-child(2) {
  background: transparent;
  padding: 10px 20px;
  border-radius: 20px;
}

.third-buttons button:hover {
  background: #0e3633;
  color:  white;
  cursor: pointer;
}

@media (max-width:768px) {
  .third-section {
    flex-direction: column;
    height: auto;
  }

  .third-heading {
    font-size: 1.5rem;
    margin: 20px 10px;
  }

  .third-container {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-top: 20px;
    /* background-color: yellow; */
    align-items: center;
    margin-bottom: 20px;
  }

  .third-left {
    /* background-color: red; */
    width: 100%;
    height: 100%;
  }

  .third-right {
    /* background-color: blue; */
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .third-right p:nth-child(2),
  .third-right p:nth-child(3) {
    width: 100%;
  }

  .third-cards {
    flex-direction: column;
    width: 100%;
    /* background-color: green; */
    margin-bottom: 30px;
  }

  .third-card {
    width: 100%;
  }

  .third-card p {
    font-size: 0.9rem;
  }

  .third-buttons {
    margin-top: 10px;
  }
}

.fourth-section {
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #E8F4F8;
}

.fourth-heading {
  width: 100%;
  text-align: center;
  font-size: 1.9rem;
  margin-top: 40px;
  color: darkslategray;
}

.fourth-container {
  background-color: white;
  width: 90%;
  margin-top: 20px;
  height: 70%;
  display: flex;
  border-radius: 20px;
}

.fourth-left {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  gap: 10px;
  color: #0E7C7B;
}

.fourth-left h1 {
  margin-bottom: 20px;
  width: 80%;
}

.fourth-left p {
  margin-bottom: 20px;
}

.fourth-left button {
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 20px;
  color: white;
  background-color: #134E4A;
}

.fourth-left button:hover {
  background-color: #0d3431;
  cursor: pointer;
}

.fourth-right {
  width: 50%;
  height: 100%;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: center;
  gap: 20px;
  margin: auto;
}

.fourth-card {
  background-color: #FFFFFF;
  color: black;
  /* font-size: 0.8rem; */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  transition: 0.3s ease;
}

.fourth-card h1 {
  font-size: 1.1rem;
  font-weight: 600;
}

.fourth-card p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.fourth-card:hover {
  transform: translateY(-6px);
  border-color: #1aa79b;
}

@media(max-width:768px) {
  .fourth-section {
    height: auto;
  }

  .fourth-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .fourth-left {
    width: 100%;
    font-size: 1.2rem;
  }

  .fourth-right {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .fourth-heading {
    font-size: 1.5rem;
  }
}

.fifth-section {
  height: 100vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: lightblue;
  flex-direction: column;
}

.fifth-heading {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #134E4A;
}

.fifth-container {
  height: 70%;
  width: 90%;
  /* background-color: red; */
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fifth-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 90%;
  /* background-color: blue; */
}

.fifth-card {
  background: linear-gradient(135deg, #0F766E, #115E59);
  height: 85%;
  width: 22%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.512);
  border: 4px solid #D1FAE5;
  transition: 0.1s ease;
}

.fifth-card h1 {
  color: white;
  margin-top: 0;
}

.fifth-card h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 50px;
}

.fifth-card p {
  color: rgba(255, 255, 255, 0.825);
}
.fifth-stars{
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: left;
}
.fifth-card:nth-child(3) p{
  width: 80%;
}
.fifth-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 12 10px rgba(0, 0, 0, 0.512);
}
@media (max-width:768px){
  .fifth-section{
    flex-direction: column;
    height: auto;
  }
  .fifth-heading{
    font-size: 1.5rem;
  }
  .fifth-container{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .fifth-cards{
    flex-direction: column;
    margin-bottom:20px;
  }
  .fifth-card{
    margin-top: 20px;
    width: 100%;
    font-size: 1rem;
  }
  .fifth-card h2{
    margin-bottom: 10px;
  }
  .fifth-stars{
    margin-bottom: 20px;
  }
}
.sixth-section{
  width: 100%;
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  background-color: #E8F4F8;
  
}
/* CONTACT */
.contact,
.location {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contact h1,
.location h1 {
  font-size: 48px;
  margin: 0;
  color: darkslategray;
  text-align: center;
  width: 70%;
}

/* CONTACT CARD */
.contact-info {
  background: linear-gradient(135deg, #0F766E, #115E59);
  padding: 40px;
  border-radius: 16px;
  width: 90%; 
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info p {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.825);
}

.contact-span {
  font-weight: 600;
  color: white;
}

.delivery {
  font-weight: 600;
}

/* BUTTON */
.contact-info button {
  margin-top: 10px;
  padding: 14px 24px;
  border-radius: 30px;
  background: rgba(0, 255, 191, 0.381);
  border: 1px solid #D1FAE5;
  color: #FAF7F2;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.contact-info button:hover {
  background-color: #1b9447;
}

/* MAP */
.map-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.map-container iframe {
  width: 100%;
  height: 350px;
  border-radius: 16px;
}

.address {
  color:darkslategray ;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .sixth-section {
    flex-direction: column;
    padding: 60px 0;
    /* background-color: red; */
  }

  .contact,
  .location {
    width: 100%;
    /* background-color: blue; */
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;

  }

  .contact h1,
  .location h1 {
    font-size: 36px;
    width: 100%;
  }

  .contact-info {
    padding: 24px;
    width: auto;
    margin: 0;
    gap: 5px;
  }

  .contact-info p {
    font-size: 18px;
  }

  .address {
    font-size: 16px;
  }
}
.clinic-footer {
  background-color: #0f6b5f;
  color: #e6f2f0;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.footer-col h1{
  font-size: 1.8rem;
}
.footer-col h3,
.footer-col h4 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1rem;
}

.footer-col p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-col ul li a {
  color: #e6f2f0;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #a8e6d3;
}

.footer-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #17a589;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
}

.footer-btn:hover {
  background-color: #149174;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.footer-bottom span {
  color: #a8e6d3;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
}
